.main__demo-image {
 width: 860px;
 height: 554px;
 grid-area: 1 / 2;
 border-radius: 4px;
}

.main {
 margin: 80px 80px 0px;
}

.main__content {
 display: grid;
}

.main__demo {
 display: grid;
}

.main__promo {
 display: grid;
 grid-column-gap: 20px;
}

.main__demo {
 width: 860px;
 height: 435px;
}

.main__demo-title {
 display: contents;
 font-family: Inter;
 font-size: 64px;
 font-weight: 600;
 line-height: 70.4px;
 text-align: left;
}

.main__demo-p {
 font-family: Inter;
 font-size: 32px;
 font-weight: 400;
 line-height: 38.73px;
 text-align: left;
}

.main__demo-button {
 margin: -95px 0;
 width: 860px;
 height: 95px;
 grid-area: 3 / 1;
 padding: 28px 144px 28px 144px;
 gap: 10px;
 border-radius: 4px 0px 0px 0px;
 background-color: #252525;
 color: white;
 border-radius: 4px;
 font-family: Inter;
 font-size: 32px;
 font-weight: 400;
 line-height: 38.73px;
 text-align: left;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}

.main__marketplace-img {
 width: 860px;
 height: 439px;
 gap: 0px;
 border-radius: 4px 0px 0px 0px;
 grid-area: 1 / 1;
}

.main__marketplace {
 display: grid;
 grid-column-gap: 20px;
 margin: 80px 0;
}

.main__marketplace-info {
 grid-area: 1 / 2;
}

.main__marketplace-title {
 display: contents;
 font-family: Inter;
 font-size: 64px;
 font-weight: 600;
 line-height: 70.4px;
 text-align: left;
}

.main__marketplace-p {
 font-family: Inter;
 margin: 16px 0;
 font-size: 32px;
 font-weight: 400;
 line-height: 38.73px;
 text-align: left;
}

.main__marketplace-button {
 margin: 23px 0px 16px;
 width: 860px;
 height: 95px;
 grid-area: 3 / 1;
 padding: 28px 144px 28px 144px;
 gap: 10px;
 border-radius: 4px 0px 0px 0px;
 background-color: #252525;
 color: white;
 border-radius: 4px;
 font-family: Inter;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 32px;
 font-weight: 400;
 line-height: 38.73px;
 text-align: left;
 cursor: pointer;
}

.main__marketplace-button2 {
 background-color: white;
 color: #252525;
 display: flex;
 align-items: center;
 justify-content: center;
}

.main__roll-img {
 width: 410px;
 height: 471px;
 border-radius: 4px 0px 0px 0px;
 opacity: 0px;
}

.main__roll {
 display: flex;
 justify-content: center;
 align-items: center;
}

.main__roll-cards {
 position: relative;
 display: inline-block;
}

.main__roll-card {
 font-size: 14px;
 display: inline-block;
 width: 20%;
 margin: 0;
 padding: 0;
}

.main__roll-p {
 margin: -70px 0px 0px 32px;
 font-family: Inter;
 font-size: 32px;
 font-weight: 400;
 line-height: 38.73px;
 text-align: left;
 color: white;
 border: 1px solid red;
}
